/*Importando las fuentes*/
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Italic.ttf);
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-Italic.ttf);
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
  }
